body{
  background-image: url(choco.jpg);
}
.card{
  height: 16rem;
  width: 16rem;
  background-color: transparent;
}
.bg-light{
  height: 29rem !important;
  width: 15rem !important;
  /* width: 15rem !important; */
  background-color: aqua;
  margin-top: 5rem !important;
}
.head{
  text-align: center;
  font-size: large;
  font-family: cursive;
  color: orange;
}
@media only screen and (max-width: 500px) {
  .bg-light{
    width: 100% !important;
  }
}